<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>楠树村</title>
    <!-- 引入 Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="../package/bootstrap-4.5.3/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f2e9e4; /* 浅黄色背景，类似于农村的砖墙背景 */
            color: #333; /* 深灰色文字 */
        }
        .jumbotron {
            background-color: #fff; /* 白色的 Jumbotron */
            border-radius: 10px; /* 圆角边框 */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 轻微的阴影效果 */
        }
        .card {
            border: none; /* 去除卡片的边框 */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 卡片阴影 */
        }
        /* 其他样式按需添加 */

        /* 自定义页脚样式 */  
        .footer {  
            background-color: #f8f9fa; /* 背景色 */  
            padding: 2rem 0; /* 内边距 */  
            text-align: center; /* 文字居中 */  
            color: #6c757d; /* 文字颜色 */  
            position: fixed; /* 固定页脚位置 */  
            left: 0;  
            bottom: 0;  
            width: 100%;  
        }  
        .footer a {  
            color: inherit; /* 链接颜色与文字颜色一致 */  
            text-decoration: none; /* 去除链接下划线 */  
        }
        div div img{
            height: auto;
            width: auto\9;
            width: 60%;
        }  
    </style>
</head>

<body>

    <script type="text/javascript" src="header.js"></script>
    <div class="container py-3">
        <div class="jumbotron">
            <h1 class="display-4 text-center">楠树村</h1>
            <hr class="my-4">
            <p>四川省德阳市旌阳区天元街道楠树村辖区内8个村民小组，1个居民小组，总人口3187人，设村党委1个，党小组4个，现有党员106人，其中男87人、女19人，中专以上学历62人、优秀农民工1人、致富能手8人。该村地处德阳市西北7公里，村委会驻地位于楠树村5组，北邻扬嘉村，西连青花村，东与孝感红伏村相连，西靠一环路。地理位置优越，国道G545（德孝路）从村穿境而过，距市区4公里，全村贫困户14户21人，已于2014年全部脱贫。楠树村“两委”干部6名，平均年龄42岁，高中1人，中专4人、初中1人，班子总体团结凝聚，廉洁奉公，服务意识强，发展思路清晰，班子成员具有实干精神，群众满意度较高。</p>
            <hr class="my-4">
            <h2>基础建设</h2>
            <p>在基础设施方面，经过不断地努力，楠树村的道路网络得到了显著的完善与优化，村组道路硬化率达到95%，入户路硬化率达到98%，路面平整且宽阔，有效提升了车辆的通行能力和安全性。并在人口聚集路段修建路灯，按照“四统一”内容规范招呼站（牌）设置，落实长效维护机制。在供水供电设施方面，楠树村取得了显著的成果。供水系统经过改造升级，现已能够提供稳定且安全的饮用水，自来水普及率达到85%以上，有效保障了村民的日常生活需求。同时，供电设施也得到了全面改造，能够满足村民日益增长的用电需求，供电人口覆盖率100%。在信息化建设方面，楠树村取得了显著的突破。宽带网络已全面覆盖全村，村民可以享受到高速、便捷的网络服务。楠树村还加强了应急避难场所的建设，确保在灾害发生时，村民能够迅速、安全地转移到避难场所，并得到必要的生活保障。此外，加强了与上级政府和有关部门的沟通协调，确保在灾害发生时能够及时获取最新的灾情信息和救援资源。</p>
            <div>
                <img src="../image/基层建设.png">
            </div>
            <hr class="my-4">
            <h2>公共服务</h2>
            <p>在公共服务方面，卫生站为村民提供了基本的医疗服务和健康咨询。卫生站配备了一名有执业医师资格的医生，配备了必要的医疗设备和药品，能够满足村民日常的医疗需求。楠树村高度重视村民的保险参保问题，通过多种方式普及保险参保知识，确保每位村民都能了解并享受到相应的保险福利。通过普及保险知识和优化服务流程，楠树村的保险参保率得到了显著提升。基本养老保险参保率大于95%，低保对象、特困人员、重度残疾人、返贫致贫人口等困难群体城乡居民基本养老保险代缴费率达到了100%，城乡基本医疗保险参保率达到了100%。在教育方面，常住人口学前三年在园幼儿数与常住人口适龄幼儿总数占比大于等于95%，义务教育阶段无除身体原因外的失学辍学情况，学生就学情况良好。在就业方面，成立了村级劳务合作社，设有村内劳动力基础信息，发布就业信息，提供就业政策咨询，教育培训和职业介绍等服务；有效提高了剩余劳动力的输出。为就业困难人员，零就业家庭和残疾人提供就业援助，帮助他们成功就业。</p>
            <img src="../image/公共服务.png">
            <hr class="my-4">
            <h2>产业发展</h2>
            <p>在产业发展方面，楠树村现有企业共计20余家，农家乐3家，星级酒店1家，合法宗教场所1家，农贸批发市场、电缆生产、机械加工等企业15余家，结合乡村振兴，围绕“青甜扬嘉”城乡融合发展项目，积极巩固壮大市级农业现代产业园成果，全力打造集农业、加工、冷链、批发、休闲、度假等于一体的“产城融合、宜居乐活”的就近村镇化新样板，促进群众共同富裕。全村以发展工业为龙头，着力突出农家旅游美食等特色产业。楠树村积极培育和发展农民专业合作社、家庭农场和种植大户等新型经营主体。通过提供政策扶持和技术指导，鼓励农民参与合作社和家庭农场的创建与运营，实现规模化经营和标准化生产。同时引进社会资本和工商资本参与村庄经营，有助于推动农村经济的持续发展，提升农民的生活水平。村上有规范运行管理的村集体经济组织；有经本集体成员民主程序通过的、合理的收益分配机制，减少了收益纠纷。在农田使用上，严格管控耕地种植用途，坚决遏制耕地“非农化”，永久基本农田重点用于粮油生产，高标准农田全部用于粮食生产，农田无撂荒地。在农产品质量方面，主导产品纳入了当地区域性公共品牌管理，有农产品质量安全协管员，保证了主导产品的质量。</p>
            <img src="../image/产业发展.png">
            <hr class="my-4">
            <h2>基层党建</h2>
            <p>在基层党建方面，村党组织书记通过法定程序担任村委会主任和村集体经济组织、合作经济组织负责人，组织和带富能力强。楠树村基层党建工作中，党员先锋模范作用得到了充分发挥，广大党员积极带头，勇挑重担，成为了推动村庄发展的重要力量。此外，村级重要事项决策实行了“四议两公开”；村级事务运行规范；推行了网格化管理，推进了乡村治理数字化。基层党建在楠树村村庄治理中发挥了重要作用。</p>
            <div>
                <img src="../image/基层党建.jpg">
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h1 class="text-center">新闻栏目</h1>
        <div class="row">
            <!-- 新闻条目容器 -->
            <div class="col-md-4" v-for="(news, index) in newsList" :key="index">
                <div class="card mb-4">
                    <img class="card-img-top" src="../image/新闻/交通安全知识培训.jpg" alt="新闻图片">
                    <div class="card-body">
                        <h5 class="card-title">天元街道楠树村开展交通安全知识培训</h5>
                        <p class="card-text">为进一步普及交通安全知识，提升村民交通安全意识。3月28日上午，天元街道楠树村组织辖区党员群众开展了交通安全知识培训。</p>
                        <p class="card-text"><small class="text-muted">发布日期：2024/03/28</small></p>
                    </div>
                    <div class="card-footer">
                        <a href="新闻详情/新闻一.html" class="btn btn-primary">详细阅读</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" v-for="(news, index) in newsList" :key="index">
                <div class="card mb-4">
                    <img class="card-img-top" src="../image/新闻/法律知识讲座.jpg" alt="新闻图片">
                    <div class="card-body">
                        <h5 class="card-title">天元街道楠树村开展法律知识宣传讲座</h5>
                        <p class="card-text">为进一步增强辖区村民的法律意识，提升群众依法维权的能力，引导广大群众学法、懂法、用法、守法，3月15日，天元街道楠树村新时代文明实践站组织开展了法律知识宣传讲座活动。</p>
                        <p class="card-text"><small class="text-muted">发布日期：2024/03/15</small></p>
                    </div>
                    <div class="card-footer">
                        <a href="新闻详情/新闻二.html" class="btn btn-primary">详细阅读</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" v-for="(news, index) in newsList" :key="index">
                <div class="card mb-4">
                    <img class="card-img-top" src="../image/新闻/三八妇女节1.jpg" alt="新闻图片">
                    <div class="card-body">
                        <h5 class="card-title">天元街道楠树村开展庆祝“三八”国际妇女节趣味运动会</h5>
                        <p class="card-text">为进一步丰富妇女同胞的精神文化生活，团结和引领广大妇女同胞为楠树村发展汇聚巾帼力量，3月8日上午，天元街道楠树村妇联组织辖区致富带头人、好儿媳、优秀妇女代表30余人开展了庆祝“三八”国际妇女节趣味运动会。</p>
                        <p class="card-text"><small class="text-muted">发布日期：2024/03/08</small></p>
                    </div>
                    <div class="card-footer">
                        <a href="新闻详情/新闻三.html" class="btn btn-primary">详细阅读</a>
                    </div>
                </div>
            </div>
            <!-- 根据需要重复上面的col-md-4以填充更多的新闻条目 -->
        </div>
        <!-- 页脚 -->
        <script type="text/javascript" src="footer.js"></script>
    </div>
    <!-- 引入 Bootstrap 的 JavaScript 文件 -->
    <script type="text/javascript" src="../package/jquery-3.7.1.min.js"></script>
    const typebotInitScript = document.createElement("script");
typebotInitScript.type = "module";
typebotInitScript.innerHTML = `import Typebot from 'https://cdn.jsdelivr.net/npm/@typebot.io/js@0/dist/web.js'

Typebot.initBubble({
  typebot: "my-typebot-mnui13q",
  apiHost: "https://fyncs.adamxjames.com",
  theme: {
    button: { backgroundColor: "#b8eac8" },
    chatWindow: { backgroundColor: "#FAF3EA" },
  },
});
`;
document.body.append(typebotInitScript);

    <script type="text/javascript" src="../package/popper.min.js"></script>
    <script src="../package/bootstrap-4.5.3/js/bootstrap.min.js"></script>
</body>

</html>
